html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}

/* Code */
code,
pre {
  font-family: ui-monospace, Consolas, "Courier New", Courier, monospace,
    sans-serif;
  text-rendering: optimizeLegibility;
}

// a[rel^="noreferrer"]::after {
//   content: "\2197";
//   width: 11px;
//   height: 11px;
//   margin-left: 4px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   display: inline-block;
// }

@media print {
  /* remove any screen only styles, for example link underline */
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  header,
  footer,
  aside,
  nav,
  form,
  iframe {
    display: none;
  }

  article {
    column-width: 18em;
    column-gap: 3em;
  }

  a::after {
    content: " (" attr(href) ")";
  }

  /* target all pages */
  @page {
    margin: 2cm;
  }

  /* target the first page only */
  @page :first {
    margin-top: 6cm;
  }

  /* target left (even-numbered) pages only */
  @page :left {
    margin-right: 4cm;
  }

  /* target right (odd-numbered) pages only */
  @page :right {
    margin-left: 4cm;
  }
}

@page {
  padding: 0;
  margin: 0cm;
  size: A4 portrait;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }

  html {
    scroll-behavior: auto;
  }
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 670px;
}
dl > * {
  padding-top: 0.5em;
}
dt {
  width: 10%;
  font-weight: bold;
  margin: 0;
}
dd {
  width: 80%;
  // padding-left: 1em;
  margin-left: 0px;
  word-wrap: break-word;
}

/* Tag cloud */
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}

ul.cloud a[data-weight="1"] {
  --size: 1;
}
ul.cloud a[data-weight="2"] {
  --size: 2;
}
ul.cloud a[data-weight="3"] {
  --size: 3;
}
ul.cloud a[data-weight="4"] {
  --size: 4;
}
ul.cloud a[data-weight="5"] {
  --size: 5;
}
ul.cloud a[data-weight="6"] {
  --size: 6;
}
ul.cloud a[data-weight="7"] {
  --size: 7;
}
ul.cloud a[data-weight="8"] {
  --size: 8;
}
ul.cloud a[data-weight="9"] {
  --size: 9;
}
ul.cloud a[data-weight="10"] {
  --size: 10;
}
ul.cloud a[data-weight="11"] {
  --size: 11;
}
ul.cloud a[data-weight="12"] {
  --size: 12;
}
ul.cloud a[data-weight="13"] {
  --size: 13;
}
ul.cloud a[data-weight="14"] {
  --size: 14;
}
ul.cloud a[data-weight="15"] {
  --size: 15;
}
ul.cloud a[data-weight="16"] {
  --size: 16;
}
ul.cloud a[data-weight="17"] {
  --size: 17;
}
ul.cloud a[data-weight="18"] {
  --size: 18;
}
ul.cloud a[data-weight="19"] {
  --size: 19;
}
ul.cloud a[data-weight="20"] {
  --size: 20;
}

ul.cloud a {
  --size: 4;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

.svg-email-protection {
  width: 200px;
  height: 24px;
  vertical-align: middle;
}
