{% extends "index.html" %}

{% block content %}
<article>
    <h1>Tags</h1>
    {{ terms | length }} tags in total
    <ul role="navigation" aria-label="Webdev tag cloud" class="cloud">
        {% for tag in terms %}
        <li>
            <a data-weight="{{ tag.pages | length }}" href="{{ tag.permalink }}">{{ tag.name }} ({{ tag.pages | length }})</a>
        </li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}
