{% extends "index.html" %}

{% block content %}
<article>
    <h1>Categories</h1>
    {{ terms | length }} categories in total
    <ul role="navigation" aria-label="Webdev tag cloud" class="cloud">
        {% for category in terms %}
        <li>
            <a data-weight="{{ category.pages | length }}" href="{{ category.permalink }}">
                {{ category.name }} ({{ category.pages | length }})
            </a>
        </li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}
