{% extends "index.html" %}

{% block content %}
<article>
  <h1>404: Page not found</h1>
  <p>Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ config.extra.baseurl }}">Head back home</a> to try finding it again.</p>
<article>
{% endblock content %}
