{% extends "index.html" %}

{% block content %}
<article>
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content | safe }}
	{% set data = load_data(path="static/other/superrune_blogroll.opml", format="xml") %}
	<ul>
	{% for o in data.opml.body.outline %}
		<li>
			<a href="{{ o["@htmlUrl"] }}">{{ o["@title"] }}</a>
		</li>
	{% endfor %}
	</ul>
</article>
{% endblock content %}


