{% extends "index.html" %}

{% block content %}
<article>
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content | safe }}
	{% set data = load_data(path="content/nonposts/books.json", format="json") %}
	{% for b in data %}
	<details>
		<summary>{{ b.title }}</summary>
		<dl>
			<dt>Rating</dt>
			<dd>{{ b.rating }}</dd>
			<dt>Read year</dt>
			<dd>{{ b.date }}</dd>
			<dt>Author</dt>
			<dd>{{ b.authors }}</dd>
			<dt>ID</dt>
			<dd>{{ b.identifiers }}</dd>
			<dt>Tags</dt>
			<dd>{{ b.tags }}</dd>
		</dl>
	</details>
	{% endfor %}
</article>
{% endblock content %}

