<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">

        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="{{ config.title }}" />

        <link rel="icon" href="{{ get_url(path="favicon.ico") }}" sizes="any">
        <link rel="icon" href="{{ get_url(path="icon.svg") }}" type="image/svg+xml">
        <link rel="apple-touch-icon" href="{{ get_url(path="apple-touch-icon.png") }}">
        <link rel="manifest" href="{{ get_url(path="manifest.webmanifest") }}">

        {% if section.title %}
        <title>{{ section.title }} &mdash; {{ config.title }}</title>
        <meta property="og:title" content="{{ section.title }}" />
        <meta name="twitter:title" content="{{ section.title }}" />
		<meta property="article:section" content="posts" />
        {% elif page.title %}
        <title>{{ page.title }} &mdash; {{ config.title }}</title>
		<meta property="og:type" content="blog" />
        <meta property="og:title" content="{{ page.title }}" />
        <meta name="twitter:title" content="{{ page.title }}" />
        {% else %}
        <title>Posts &mdash; {{ config.title }}</title>
        {% endif %}

		{% if page.date %}
		<meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%d") }}" />
		<meta property="article:modified_time" content="{{ page.date | date(format="%Y-%m-%d") }}" />
		{% endif %}

        {%if section.description%}
        <meta name="description" content="{{ section.description }}" />
        <meta property="og:description" content="{{ section.description }}" />
        <meta property="twitter:description" content="{{ section.description }}" />
        <meta property="og:url" content="{{ section.permalink | safe }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:description" content="{{ section.description }}" />
        <link rel="canonical" href="{{ section.permalink | safe }}" />
        {%endif%}

        {%if page.description%}
        <meta name="description" content="{{ page.description }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:url" content="{{ page.permalink | safe }}" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:description" content="{{ page.description }}" />
        <link rel="canonical" href="{{ page.permalink | safe }}" />
        {%endif%}


        {%if page.extra.image%}
        <meta property="og:image" content="{{ page.permalink | safe }}{{ page.extra.image }}" />
        <meta name="twitter:image" content="{{ page.permalink | safe }}{{ page.extra.image }}" />
        {%endif%}

        <meta name="author" content="{{ config.extra.author_name }}">
        <meta name="twitter:creator" content="{{ config.extra.author }}">
        <meta name="twitter:site" content="{{ config.extra.author }}">

        <!-- Force IE 8/9/10 to use its latest rendering engine -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Control the behavior of search engine crawling and indexing -->
        <meta name="robots" content="index,follow"><!-- All Search Engines -->
        <!-- Tells Google not to provide a translation for this document -->
        <meta name="google" content="notranslate">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ get_url(path="missing.min.css", trailing_slash=false) }}">
        <!-- <link rel="stylesheet" href="{{ get_url(path="matcha.css", trailing_slash=false) }}"> -->
        <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">

        <link rel="alternate" type="application/atom+xml" title="Superrune Atom Feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
		<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
        {%if page %}
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BlogPosting",
			"headline": "{{ page.title }}",
			"url": "{{ page.permalink | safe }}",
			"description": "{{ page.description }}",
			"author": {
				"@type": "Person",
				"name": "{{ config.extra.author_name }}",
			}, {%if page.extra.image%}
			"image": "{{ page.permalink | safe }}{{ page.extra.image }}", {%endif%} {% if page.date %}
			"datePublished": "{{ page.date | date(format="%Y-%m-%d") }}",
			"dateCreated": "{{ page.date | date(format="%Y-%m-%d") }}" {%endif%}
		}
		</script>
        {%endif%}
    </head>
    <body>
        <header>
            <h2>{{ config.title }}</h2>
        </header>
        <main>
            {% block content %}
            <h1>Posts</h1>
            {% for page in paginator.pages %}
            <section>
                <h2>
                    <a href="{{ page.permalink }}">
						{% if page.extra.image %}
						{% if page.extra.image is starting_with("images/") %}
						{% set meta = get_image_metadata(path=page.extra.image) %}
						<img src="/{{ page.extra.image }}" alt="{{ page.title }}" width="{{ meta.width }}" height="{{ meta.height }}">
						{% else %}
						{% set meta = get_image_metadata(path=page.path ~ page.extra.image) %}
						<img src="{{ page.path }}{{ page.extra.image }}" alt="{{ page.title }}" width="{{ meta.width }}" height="{{ meta.height }}">
						{% endif%}
						{% endif%}
                        {{ page.title }}
                    </a>
                </h2>
                <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" itemprop="page-date">{{ page.date | date(format="%Y-%m-%d") }}</time>
                {{ page.summary | safe }}
            </section>
            <hr/>
            {% endfor %}
            <nav role="pagination">
                {% if paginator.previous %}
                <a rel="prev" href="{{ paginator.previous }}">&lsaquo; Newer</a>
                {% endif %}
                {% if paginator.next %}
                <a rel="next" href="{{ paginator.next }}">Older &rsaquo;</a>
                {% endif %}
            </nav>
            {% endblock content %}
        </main>
        <footer>
            <h2>Navigation</h2>
            <nav>
                <ul>
                    {% for page in config.extra.pages %}
                    <li><a href="{{ page.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ page.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <small>
                &copy; Rune Memborg, <time datetime="">{{ now() | date(format="%Y")  }}</time>. All rights reserved. Last edited <time datetime="">{{ now() | date(format="%d-%m-%Y") }}</time>
            </small>
        </footer>
    </body>
</html>
