{% extends "index.html" %}

{% block content %}
    <article class="page">
        <h1 class="page-title">{{ page.title }}</h1>
        {{ page.content | safe }}
    </article>
{% endblock content %}
